.Modal {
    position: fixed;
    z-index: 3;
    background-color: white;
    border: 1px solid var(--secondBorderColor);
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 5px;
}

.Modal.Modal--close{
    display: none;
    transform: translateY(-100vh);
}

.Modal.Modal--open{
    display: block;
    transform: translateY(0);
}